{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

<div class="trailer">
    
</div>
<div class="text-accueil">
    <h1>Bienvenue sur Realm of Taelion!</h1>
    <p>Nous sommes...</p>
</div>
<div class="trailer"></div>
<div class="text-accueil">
    <h2>Le serveur</h2>
    <p>Realm of Taelion est un serveur...</p>
</div>
<div class="trailer"></div>
{% endblock %}
