{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}

<div>
    <h1>Bienvenue sur le site de Realm of Taelion!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut leo neque. Donec sed pretium turpis, non laoreet diam. Sed ac eleifend dui. In magna ante, lacinia in elementum sed, sollicitudin id nunc. Sed semper est quis nulla consequat, ut volutpat lectus tempor. Nunc ultricies, erat quis viverra eleifend, urna nunc placerat ipsum, sed pulvinar lacus ante vitae nisi. Integer fermentum risus ac magna ultrices dignissim. Donec imperdiet, urna et congue convallis, est est varius massa, sit amet ultricies metus risus vitae ligula. Nulla sit amet maximus justo, ut feugiat erat.</p>
</div>
{% endblock %}
