<footer>

  <div class="footer">
      <div>

       <a href="{{ path('home')}}">Realm of Taelion </a>

      </div>


      <div>

         <div>© 2021 Tout droit réservé
  		</div>

      </div>

  </div>

</footer>
