<nav >
	<div>
			<div class="navbar">
				<a class="" href="{{ path('home')}}">Realm of Taelion</a>
				<a class="" href="{{ path('image') }}">Galerie</a>
				<a href="#">Encyclopédie</a>
				<a class="" href="{{ path('video') }}">Vidéos</a>
				<a class="" href="{{ path('nous_rejoindres') }}">Nous rejoindre</a>
			</div>
	</div>
</nav>
