<nav >
	<div>
		<div >
			<div>
				<a class="nav-link active" href="{{ path('home')}}">Accueil</a>
				<a class="nav-link" href="">Vidéos</a>
				<a class="nav-link" href="{{ path('image') }}">Galerie d'images</a>
				<a class="nav-link" href="{{ path('nous_rejoindres') }}">Nous rejoindre</a>
			</div>
		</div>
	</div>
</nav>
