<nav >
	<div>
			<div class="navbar">
				<a class="" href="{{ path('home')}}">Accueil</a>
				<a class="" href="{{ path('video') }}">Vidéos</a>
				<a class="" href="{{ path('image') }}">Galerie d'images</a>
				<a class="" href="{{ path('nous_rejoindres') }}">Nous rejoindre</a>
			</div>
	</div>
</nav>
