{% extends 'base.html.twig' %}

{% block title %}Galerie d'images{% endblock %}

{% block body %}

<div class="galerie_container">
    <h1>Galerie d'images</h1>

    <div class="galerie">
		{% for image in image %}
			<div class="image">
				<a href="#" class="ea-lightbox-thumbnail" data-featherlight="/images/gallerie/{{ image.image }}" data-featherlight-close-on-click="anywhere">
	    			<img src="/images/gallerie/{{ image.image }}" alt="{{ image.description }}" title="{{ image.title }}" class="screenshot">
				</a>
			</div>

		{% endfor %}
	</div>
</div>
{% endblock %}
